<div class="p-2">
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <th>Hours</th>
        <th>Avarage Licensed Usage</th>
        <th>%</th>
      </tr>
      <tr>
        <td>7 a.m - 8 a.m</td>
        <td>{{statistic.avgUsage7_8}}</td>
        <td>{{Math.round((statistic.avgUsage7_8/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>8 a.m - 9 a.m</td>
        <td>{{statistic.avgUsage8_9}}</td>
        <td>{{Math.round((statistic.avgUsage8_9/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>9 a.m - 10 a.m</td>
        <td>{{statistic.avgUsage9_10}}</td>
        <td>{{Math.round((statistic.avgUsage9_10/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>10 a.m - 11 a.m</td>
        <td>{{statistic.avgUsage10_11}}</td>
        <td>{{Math.round((statistic.avgUsage10_11/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>11 a.m - 12 a.m</td>
        <td>{{statistic.avgUsage11_12}}</td>
        <td>{{Math.round((statistic.avgUsage11_12/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>12 a.m - 1 p.m</td>
        <td>{{statistic.avgUsage12_13}}</td>
        <td>{{Math.round((statistic.avgUsage12_13/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>1 p.m - 2 p.m</td>
        <td>{{statistic.avgUsage13_14}}</td>
        <td>{{Math.round((statistic.avgUsage13_14/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>2 p.m - 3 p.m</td>
        <td>{{statistic.avgUsage14_15}}</td>
        <td>{{Math.round((statistic.avgUsage14_15/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>3 p.m - 4 p.m</td>
        <td>{{statistic.avgUsage15_16}}</td>
        <td>{{Math.round((statistic.avgUsage15_16/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>4 p.m - 5 p.m</td>
        <td>{{statistic.avgUsage16_17}}</td>
        <td>{{Math.round((statistic.avgUsage16_17/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>5 p.m - 6 p.m</td>
        <td>{{statistic.avgUsage17_18}}</td>
        <td>{{Math.round((statistic.avgUsage17_18/statistic.licenseAmount)*100)}}%</td>
      </tr>
      <tr>
        <td>6 p.m - 7 p.m</td>
        <td>{{statistic.avgUsage18_19}}</td>
        <td>{{Math.round((statistic.avgUsage18_19/statistic.licenseAmount)*100)}}%</td>
      </tr>
    </tbody>
  </table>
</div>
