<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <div class="navbar-brand mx-5">License Tracker</div>
      <div class="float-right navbar-text btn-group btn-group-toggle">

        <button class="btn btn-outline-primary mx-2" [class.active]="service.currentRoute=='statistic'"
          [routerLink]="['/statistic']">Statistic</button>
        <button class="btn btn-outline-primary mx-2" [class.active]="service.currentRoute=='spa'"
          [routerLink]="['/spa']">Users</button>
        <button class=" btn btn-outline-primary mx-2" [class.active]="service.currentRoute=='pcs'"
          [routerLink]="['/pcs']">PCs</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
